body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    width: 200px;
}

button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#resultado {
    margin-top: 10px;
    font-weight: bold;
}